<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/legal_notice.css">
    <link rel="shortcut icon" href="../img/2_enemies_zombie/zombie2/1_walk/Walk3.png">   
    <title>Legal Notice</title>
</head>

<body>
    <div class="legal-notice">


            <h1>Impressum</h1>      
            <p>
                Mónica González<br/>
                Hauptstraße 287<br />
                73728 Esslingen<br />
            </p>
            <h2>Kontakt</h2>
            <p>
                Telefon: +49 (0) 168 74 11 25<br />
                Telefax: +49 (0) 168 96 33 70<br />
                E-Mail: mopagonza@gmail.de
            </p>
            <h2>Redaktionell verantwortlich</h2>
            <p>
                Luis Rodriguez<br />
                Hauptstraße 10<br />
                73728 Esslingen
            </p>
            <p>Quelle:&nbsp; &nbsp;<a href="https://www.e-recht24.de"> eRecht24 </a></p>

            <a class="back" href="../index.html">
                Zurück
              </a>
      
    </div>


</body>

</html>